body{
  background:#111;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:#fff;
}

.container{
  background:#1c1c1c;
  padding:30px;
  border-radius:15px;
  text-align:center;
  width:350px;
  box-shadow:0 0 20px rgba(0,0,0,0.6);
}

input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:8px;
  border:none;
}

button{
  padding:10px 20px;
  border:none;
  background:#00c853;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
}

.progress{
  margin-top:15px;
  width:100%;
  background:#333;
  height:8px;
  border-radius:10px;
  overflow:hidden;
}

#progressBar{
  width:0%;
  height:100%;
  background:#ff1744;
  transition:width 0.4s;
}
